<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>setUser</servlet-name>
        <servlet-class>it.unitn.disi.filippo.servlets.setUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckIfReadyToStart</servlet-name>
        <servlet-class>it.unitn.disi.filippo.servlets.CheckIfReadyToStart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddWord</servlet-name>
        <servlet-class>it.unitn.disi.filippo.servlets.AddWord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reset</servlet-name>
        <servlet-class>it.unitn.disi.filippo.servlets.Reset</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>setUser</servlet-name>
        <url-pattern>/setUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckIfReadyToStart</servlet-name>
        <url-pattern>/CheckIfReadyToStart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddWord</servlet-name>
        <url-pattern>/AddWord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reset</servlet-name>
        <url-pattern>/Reset</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
