<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddMessage</servlet-name>
        <servlet-class>it.unitn.disi.filippo.servlets.AddMessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Viewer</servlet-name>
        <servlet-class>it.unitn.disi.filippo.servlets.Viewer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CloseWebcasting</servlet-name>
        <servlet-class>it.unitn.disi.filippo.servlets.CloseWebcasting</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddMessage</servlet-name>
        <url-pattern>/AddMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Viewer</servlet-name>
        <url-pattern>/Viewer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CloseWebcasting</servlet-name>
        <url-pattern>/CloseWebcasting</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
