/* .title {
    height: 10%;
    width: 100%;
    margin: auto;
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
}

.sidebar{
    height: 90%;
    width: auto;
    position: absolute;
    bottom: 0px;
    left: 0px;
} */